<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tyedart - {{title}}</title>
    <link rel="stylesheet" href="/assets/css/tyedart.css">
    {{#showBack}}
    <style type="text/css">
        @media screen and (max-width: 1023px) { body { background-image: url(/assets/images/phone/{{{background}}}); } }
        @media screen and (min-width: 1024px) { #content { background-image: url(/assets/images/desktop/{{{background}}}); } }
    </style>
    {{/showBack}}
</head>
<body>
    <div id="content">
	    <div id="menu-wrapper">
		    <div id="menu">
		        <span>MENU</span>
		        <div id="bars">
		            <div id="bar1" class="menu-bar"></div>
		            <div id="bar2" class="menu-bar"></div>
		            <div id="bar3" class="menu-bar"></div>
		        </div>
		    </div>
		</div>
	    <div id="mobile-nav" class="displayNone">
	        <ul>
	            <li><a href="portfolio">PORTFOLIO</a></li>
	            <li><a href="quote">QUOTE</a></li>
	            <li>LOGO-OLOGY</li>
	            <li>RESOURCES</li>
	            <li>FACEBOOK</li>
	            <li>CONTACT</li>
	        </ul>
	    </div>
	    <nav>
	        <ul>
	            <li><a href="/portfolio" id="portfolio-link">PORTFOLIO</a></li>
	            <li><a href="/quote" id="quote-link">QUOTE</a></li>
	            <li><a href="/logoology" id="logoology-link">LOGO-OLOGY</a></li>
	            <li><a href="/resources" id="resources-link">RESOURCES</a></li>
	            <li><a href="https://www.facebook.com/pages/Tyedart-Graphic-Design/147117557045" target="_blank">FACEBOOK</a></li>
	            <li><a href="/contact" id="contact-link">CONTACT</a></li>
	        </ul>
	    </nav>
	    
	{{{content}}}
    
    </div>
    
    <script src="/assets/js/libs/jquery-min.js"></script>
    <script src="/assets/js/libs/underscore-min.js"></script>
    <script src="/assets/js/libs/backbone-min.js"></script>
    <script src="/assets/js/models/menu.js"></script>
    <script src="/assets/js/views/menu-views.js"></script>
    <script src="/assets/js/apps/menu-app.js"></script>
    {{{scripts}}}
</body>
</html>