<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manage Logos - Tyedart</title>
    <link rel="stylesheet" href="/assets/css/vader/jquery-ui-min.css">
    <link rel="stylesheet" href="/assets/css/tyedart-manage.css">
</head>
<body>
    <header>
        <h1>Manage Logos</h1>
        <a href="/logout" title="log out"><img alt="log out" src="/assets/images/desktop/unlock.png"></a>
    </header>
    <div id="content">
        <h2>:: Upload Logo ::</h2>
        <hr>
        <div id="upload-wrapper">
            <form action="" method="post" enctype="multipart/form-data" id="upload-form">
                <input type="file" name="logoFile" accept="image/*" required />
                <input type="text" name="caption" placeholder="Caption (two to three words)" required />
                <input type="url" name="url" placeholder="URL" />
                <input type="submit" value="Upload Logo" />
            </form>
        </div>
        <h2>:: Edit Logos ::</h2>
        <hr>
        <div class="logo-section" id="booger">
            {{#logos}}
            <div class="logo-draggable" data-id="{{id}}">
                <div class="logo-preview" style="background-image: url(/assets/images/thumbnails/{{filename}})"></div>
                <div class="logo-inputs">
                    <input type="text" placeholder="Caption" value="{{caption}}" class="caption"/>
                    <input type="text" placeholder="External URL" value="{{url}}" class="url"/>
                </div>
                <div class="logo-buttons">
                    <button type="button" class="update">Update</button>
                    <button type="button" class="delete">Delete</button>
                </div>
            </div>
            {{/logos}}
        </div>
    </div>
    <script src="/assets/js/libs/jquery-min.js"></script>
    <script src="/assets/js/libs/jquery-ui-min.js"></script>
    <script src="/assets/js/libs/underscore-min.js"></script>
    <script src="/assets/js/libs/backbone-min.js"></script>
    <script src="/assets/js/apps/manage-app.js"></script>
    <script>
        var app = app || {};
        app.logos = new Backbone.Collection();
        app.logos.reset({{{logos}}});
    </script>
    <div id="waitDialog">
        <br/>
        <span id="waitMessage"></span>
        <br/><br/><br/>
        <div id="waitProgressBar"></div>
        <br/>
    </div>
    <div id="confirmDialog">
        <br/>
        Are you sure you want to delete this logo?
    </div>
    <div id="errorDialog">
        <br/>
        <span id="errorMessage"></span>
    </div>
</body>
</html>