    <div id="thumbnail-container">
        {{#firstFourlogos}}
        <div class="thumbnail">
            <div class="caption">
                {{caption}}
            </div>
            <img alt="{{caption}}" src="/assets/images/thumbnails/{{filename}}">
        </div>
        {{/firstFourlogos}}
        <div id="portfolio-nav">
	        <div id="portfolio-nav-prev"></div><div id="portfolio-nav-next"></div>
        </div>
    </div>
    <script>
        var app = app || {};
        app.logos = new Backbone.Collection();
        app.logos.reset({{{logos}}});
    </script>