    <div id="thumbnail-container">
        <div class="thumbnail">
            <div class="caption">
                Bishop Software
            </div>
            <img alt="Tyedart Logo" src="/assets/images/thumbnails/bishop.jpg">
        </div>
        <div class="thumbnail">
            <img alt="Tyedart Logo" src="/assets/images/thumbnails/bishop.jpg">
        </div>
        <div class="thumbnail">
            <img alt="Tyedart Logo" src="/assets/images/thumbnails/bishop.jpg">
        </div>
        <div class="thumbnail">
            <img alt="Tyedart Logo" src="/assets/images/thumbnails/bishop.jpg">
        </div>
    </div>